
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/var/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
